[submodule "freetype2"]
	path = freetype2
	url = http://git.sv.nongnu.org/r/freetype/freetype2.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "harfbuzz"]
	path = harfbuzz
	url = https://github.com/behdad/harfbuzz
