[submodule "freetype2"]
	path = freetype2
	url = http://git.sv.nongnu.org/r/freetype/freetype2.git
	branch = master
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
	branch = master
[submodule "harfbuzz"]
	path = harfbuzz
	url = https://github.com/behdad/harfbuzz
	branch = master
[submodule "glew"]
	path = glew
	url = https://github.com/omniavinco/glew-cmake
	branch = master
